@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Models.ProjectViewModels
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@model ProjectManagementSystem.Models.ProjectViewModels.ProjectViewModel

@{
ViewData["Title"] = "Create Project";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        @if (UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName == "Administrator")
            {
                <div class="form-group">
                    <label>Project Manager:</label>
                    <select asp-for="ProjectManagerId" asp-items="@ProjectViewModel.ProjectManagers">
                        <option>Please select one</option>
                    </select>
                </div>
            }
            <button type="submit" class="btn btn-default">Create</button>
             @Html.ActionLink("Cancel", "Projects","Project",new {@class="btn btn-primary"})
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
 