@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Models.ProjectViewModels
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@model ProjectManagementSystem.Models.ProjectViewModels.ProjectViewModel

@{
ViewData["Title"] = "Create Project";
}
@{ var loggedInUserRole = UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName;}
<div class="d-flex flex-column align-items-center mt-5">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr/>
          
            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <input asp-for="ProjectName" class="form-control"/>
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            @if (loggedInUserRole == "Administrator")
            {
                
                <div class="form-group">
                    <label class="mr-4">Project Manager:</label>
                    <select asp-for="ProjectManagerId" asp-items="@ProjectViewModel.ProjectManagers">
                        <option value="">Please select project manager</option>
                    </select>
                      <span asp-validation-for="ProjectManagerId" class="text-danger"></span>
                </div>
            }
            <button type="submit" class="btn btn-primary mr-3">Create</button>
            @Html.ActionLink("Cancel", "Projects", "Project", new {@class = "btn btn-primary"})
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
 