@model ProjectManagementSystem.Models.Project
@{
    ViewData["Title"] = "Details";
}

<div class="card" style="width:60%; margin:auto;">  
    <div class="card-header bg-dark text-white">  
        <h5>Project Details</h5>  
    </div>  
    <div class="card-body">  
        <table class="table table-borderless">  
      
               <div class="form-group">
                          <label asp-for="ProjectName"></label>
                          <input readonly="readonly"  asp-for="ProjectName" class="form-control" />
                          <span asp-validation-for="ProjectName" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                                      <label> Project Manager:</label>
                                      <input readonly="readonly"  asp-for="ProjectManager.FullName" class="form-control" />
                      </div>
                      
           
        </table>  
        <p>  
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectCode },new {@class="btn btn-info"})
            @Html.ActionLink("Back to List", "Projects","Project",new {@class="btn btn-primary"})
        </p>  
    </div>  
</div>  